:root {
    --header-height: 100px
}

.navbar_container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(219, 219, 219);
}

.navbar_logo {
    color: #ED2553;
}

.navbar_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_content_body {
    font-size: 32px;
    color: #ED2553;
    font-weight: bold;
    margin: 0 9px;
}

.navbar_avatar {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_avatar_img {
    margin: 0 3px;
}

.navbar_avatar_content {
    margin: 0 3px;
}

.navbar_avatar_content_name {
    font-weight: bold;
}

.navbar_avatar_content_role {
    color: #888888;
}