.management_body_content_header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content_header_time button {
    width: 100px;
}

.content_header_action {
    margin-left: 9px;
}