.side_slider_list {
    list-style-type: none
}

.side_slider_list h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.side_slider_list li {
    font-size: 16px;
}

.side_slider_list_heading {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
}

.side_slider_list_item {
    padding-left: 15px;
}

.side_slider_list_item input {
    margin-right: 6px;
}