.auth_page {
    background-color: #d9d9d9;
    height: 100vh;
    width: 100%;
}

.auth_container {
    position: relative;
    margin: auto;
}

.auth_form {
    min-height: 400px;
    width: 600px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px 35px;
}

.auth_form_header h1 {
    color: #ED2553;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

.auth_form_header h6 {
    color: #f26787;
    /* opacity: 70%; */
    font-size: 18px;
    line-height: 18px;
}

.auth_form_header span {
    color: #000;
    /* opacity: 1; */
    font-size: 20px;
    line-height: 20px;
}

.auth_form_content {
    background-color: #fff;
}

.auth_form_button {
    background-color: #ED2553 !important;
    width: 150px;
    height: 40px !important;
    font-weight: bold !important;
    border-color: #ED2553 !important;
    margin-top: 6px;
}

.auth_form_button:hover {
    background-color: #fff !important;
    color: #ED2553 !important;
    transition: all 1s;
}

.auth_form_button span {
    font-size: 20px;
    line-height: 20px;
}

.auth_form_footer {
    text-align: center;
}

.auth_form_footer h6 {
    color: #544D61;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    margin-top: 24px;
    cursor: pointer;
}

.auth_form_footer h6:hover {
    color: #544D61;
    opacity: 50%;
}

.auth_form_footer a {
    color: #544D61;
    font-size: 18px;
    line-height: 18px;
    text-decoration: underline;
    margin-bottom: 12px;
}

.auth_form_footer a:hover {
    color: #544D61;
    opacity: 50%;
}