.management_container {
    min-height: 100vh;
    background-color: #EBECF0;
}

.management_header {
    width: 100%;
}

.management_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 9px 18px;
}

.management_body_slider_name {
    margin: 18px 0;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 30px;
}

.management_body_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}